/* Стандартные настройки- Стандартные настройки-Стандартные настройки */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Конец стандартных настроек-Конец стандартных настроек-Конец стандартных настроек- */
body {
  font-family: 'Gilroy';
}
.center-roll {
  max-width: 1364px;
  width: 100%;
  margin: 0 auto;
}
.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(360deg, #211f20 0%, #44403f 100%);
}
.center-header {
  max-width: 1272px;
  width: 100%;
  margin: 0 auto;
}
body {
  font-family: 'Gilroy';
}
.container-first {
  background: #403C3B;
}
h1 {
  color: red;
}
/* Header */
header {
  height: 99px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .delivery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 30px;
}
header .delivery form {
  position: relative;
}
header .delivery form input {
  width: 547px;
  height: 52px;
  background: #504B4A;
  border-radius: 10px;
  font-family: "Gilroy";
  font-size: 18px;
  line-height: 21px;
  color: #CFCFCF;
  outline: none;
  margin-right: 30px;
}
header .delivery form input::placeholder {
  color: #cfcfcf;
  padding-left: 42px;
}
header .delivery .img1 {
  position: absolute;
  left: 14px;
  top: 14px;
}
header .delivery .img2 {
  position: absolute;
  right: 47px;
  top: 14px;
}
header .contact {
  display: flex;
}
header .contact .contact-box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
  border-radius: 50%;
  margin-right: 10.85px;
}
header .contact .contact-box2 {
  width: 128.91px;
}
header .contact .contact-box2 p {
  color: #5DAFCD;
}
header .basket {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 149px;
  height: 52px;
  background: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
  border-radius: 10px;
}
header .basket p {
  font-family: Gilroy;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
header .basket p::after {
  content: '';
  display: inline-block;
  height: 38px;
  width: 1px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  vertical-align: middle;
  margin-left: 20px;
  margin-right: 12px;
}
header .basket p a{
  color: #FFFFFF;
  text-decoration: none;
}
header .basket .basket-circle {
  width: 24px;
  height: 24px;
  background-color: #FFFFFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .basket .basket-circle h5 {
  color: #403C3B;
}
/* Header  конец  */
/* 1 контейнер*/

.container-second {
  width: 100%;
  margin: 0 auto;
}
.container-second .container-second-scrollbox1 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.container-second .container-second-scrollbox1 .container-second-scrollbox1-inner {
  height: 78px;
  max-width: 1272px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  font-family: Gilroy;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}
.container-second .container-second-scrollbox1 .container-second-scrollbox1-inner div {
  width: auto;
}
.container-second .container-second-scrollbox1 .container-second-scrollbox1-inner .first-li {
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-second .container-second-scrollbox1 .container-second-scrollbox1-inner a{
  text-decoration: none;
  color: #FFFFFF;
}
/*1 контейнер конец */
/*2 контейнер*/
.container-third {
  margin-top: 51px;
  display: flex;
  margin-bottom: 36px;
}
.container-third h2 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.container-third h2::before {
  content: '';
  display: inline-block;
  height: 33px;
  width: 4px;
  background-color: #618967;
  vertical-align: middle;
  margin-right: 19px;
  margin-left: 83px;
}
/*2 контейнер конец */
/*3, 4, 5 контейнер */
.mixin-roll-text1-h3 {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
  padding-left: 20px;
}
.mixinroll-text1-p {
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  padding-right: 16px;
}
.mixin-decr {
  font-size: 13px;
  line-height: 131%;
  color: #CFCFCF;
  padding-left: 20px;
  padding-top: 5px;
}
.mixin-roll-price-h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  padding-top: 10px;
  padding-bottom: 10px;
}
.mixin-roll-price-basket-p {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding: 13px 12px 14px 19px;
}
.container-third-scrollbox2-roll {
  display: grid;
  grid-template-columns: 32.5% 32.5% 32.5% ;
  grid-template-rows: 385px;
  column-gap: 1%;
  position: relative;
  height: 420px;
}
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box1,
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2,
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2-changer,
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box3,
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box4 {
  background: linear-gradient(90deg, #494544 0%, #504b4a 100%);
  border-radius: 10px;
}
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box1 .container-third-scrollbox2-roll-picture1,
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2 .container-third-scrollbox2-roll-picture1,
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2-changer .container-third-scrollbox2-roll-picture1,
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box3 .container-third-scrollbox2-roll-picture1,
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box4 .container-third-scrollbox2-roll-picture1 {
  width: 440px;
  height: 180px;
}
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box1 .container-third-scrollbox2-roll-picture1 img,
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2 .container-third-scrollbox2-roll-picture1 img,
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2-changer .container-third-scrollbox2-roll-picture1 img,
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box3 .container-third-scrollbox2-roll-picture1 img,
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box4 .container-third-scrollbox2-roll-picture1 img {
  width: 100%;
  max-width: 100%;
  max-height: 310px;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box1 .container-third-scrollbox2-roll-picture2,
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2 .container-third-scrollbox2-roll-picture2,
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2-changer .container-third-scrollbox2-roll-picture2,
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box3 .container-third-scrollbox2-roll-picture2,
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box4 .container-third-scrollbox2-roll-picture2 {
  width: 440px;
  height: 180px;
}
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box1 .container-third-scrollbox2-roll-picture2 img,
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2 .container-third-scrollbox2-roll-picture2 img,
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2-changer .container-third-scrollbox2-roll-picture2 img,
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box3 .container-third-scrollbox2-roll-picture2 img,
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box4 .container-third-scrollbox2-roll-picture2 img {
  width: 100%;
  max-width: 100%;
  max-height: 310px;
  height: 100%;
  object-fit: cover;
  object-position: center 0px;
  border-radius: 10px;
}
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box1 .container-third-scrollbox2-roll-picture3,
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2 .container-third-scrollbox2-roll-picture3,
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2-changer .container-third-scrollbox2-roll-picture3,
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box3 .container-third-scrollbox2-roll-picture3,
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box4 .container-third-scrollbox2-roll-picture3 {
  width: 440px;
  height: 180px;
}
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box1 .container-third-scrollbox2-roll-picture3 img,
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2 .container-third-scrollbox2-roll-picture3 img,
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2-changer .container-third-scrollbox2-roll-picture3 img,
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box3 .container-third-scrollbox2-roll-picture3 img,
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box4 .container-third-scrollbox2-roll-picture3 img {
  width: 100%;
  max-width: 100%;
  max-height: 310px;
  height: 100%;
  object-fit: cover;
  object-position: center 1px;
  border-radius: 10px;
}
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box1 .container-third-scrollbox2-roll-text1,
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2 .container-third-scrollbox2-roll-text1,
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2-changer .container-third-scrollbox2-roll-text1,
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box3 .container-third-scrollbox2-roll-text1,
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box4 .container-third-scrollbox2-roll-text1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box1 .container-third-scrollbox2-roll-text1 h3,
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2 .container-third-scrollbox2-roll-text1 h3,
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2-changer .container-third-scrollbox2-roll-text1 h3,
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box3 .container-third-scrollbox2-roll-text1 h3,
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box4 .container-third-scrollbox2-roll-text1 h3 {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
  padding-left: 20px;
  padding-top: 15px;
}
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box1 .container-third-scrollbox2-roll-description,
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2 .container-third-scrollbox2-roll-description,
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2-changer .container-third-scrollbox2-roll-description,
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box3 .container-third-scrollbox2-roll-description,
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box4 .container-third-scrollbox2-roll-description {
  font-size: 13px;
  line-height: 131%;
  color: #CFCFCF;
  padding-left: 20px;
  padding-top: 5px;
  width: 392px;
}
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box1 .container-third-scrollbox2-roll-price1,
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2 .container-third-scrollbox2-roll-price1,
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2-changer .container-third-scrollbox2-roll-price1,
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box3 .container-third-scrollbox2-roll-price1,
.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box4 .container-third-scrollbox2-roll-price1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 16px;
  padding-top: 15px;
}
/*3, 4, 5 контейнер конец */
/* 6 контейнер */
.container-ten-map {
  width: 100%;
  height: 665px;
  filter: drop-shadow(0px 40px 40px rgba(43, 40, 40, 0.6));
  position: relative;
}
.container-ten-map #map {
  width: 100%;
  height: 100%;
}
.container-ten-map .container-map-coordinates {
  position: absolute;
  left: 1021px;
  bottom: 183px;
}
.container-ten-map .container-map-contacts {
  display: flex;
  flex-wrap: wrap;
  max-width: 526px;
  height: 405px;
  background: #2E2B2C;
  box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  position: absolute;
  left: 109px;
  bottom: 40px;
}
.container-ten-map .container-map-contacts .container-map-contacts-box0 {
  display: flex;
  flex-direction: column;
}
.container-ten-map .container-map-contacts .container-map-contacts-box0 h1 {
  display: flex;
  font-family: Gilroy;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 25px;
  padding-left: 43px;
  padding-bottom: 26px;
}
.container-ten-map .container-map-contacts .container-map-contacts-box0-border {
  height: 2px;
  width: 100%;
  content: '';
  display: inline-block;
  border: none;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}
.container-ten-map .container-map-contacts .container-map-contacts-box1 {
  display: flex;
  width: 391px;
  align-items: flex-start;
  padding-bottom: 20px;
  padding-top: 12px;
  padding-left: 52px;
}
.container-ten-map .container-map-contacts .container-map-contacts-box1 .container-map-contacts-box1-iner {
  display: flex;
  flex-direction: column;
}
.container-ten-map .container-map-contacts .container-map-contacts-box1 .container-map-contacts-box1-iner p {
  font-family: Gilroy;
  font-size: 12px;
  line-height: 16px;
  color: #CFCFCF;
}
.container-ten-map .container-map-contacts .container-map-contacts-box1 .container-map-contacts-box1-iner h4 {
  font-family: Gilroy;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}
.container-ten-map .container-map-contacts .container-map-contacts-box2 {
  display: flex;
  width: 391px;
  align-items: flex-start;
  padding-top: 12px;
  padding-left: 52px;
}
.container-ten-map .container-map-contacts .container-map-contacts-box2 .container-map-contacts-box2-iner {
  display: flex;
  flex-direction: column;
}
.container-ten-map .container-map-contacts .container-map-contacts-box2 .container-map-contacts-box2-iner p,
.container-ten-map .container-map-contacts .container-map-contacts-box2 .container-map-contacts-box2-iner a {
  font-family: Gilroy;
  font-size: 14px;
  line-height: 16px;
  color: #CFCFCF;
}
.container-ten-map .container-map-contacts .container-map-contacts-box2 .container-map-contacts-box2-iner a {
  text-decoration: none;
  color: #FFFFFF;
  padding-bottom: 28px;
}
.container-ten-map .container-map-contacts .container-map-contacts-box3 {
  display: flex;
  padding-top: 34px;
  padding-left: 52px;
}
.container-ten-map .container-map-contacts .container-map-contacts-box3 .btn-contacts {
  padding-right: 33px;
}
.container-ten-map .container-map-contacts .container-map-contacts-box3 .btn-contacts a {
  font-family: Proxima Nova;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  background: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
  border-radius: 10px;
  padding: 22px 30px;
  text-transform: uppercase; 
  text-decoration: none;
}
.container-ten-map .container-map-contacts .container-map-contacts-box3 .tel-contacts h3 {
  font-family: Gilroy;
  font-weight: bold;
  font-size: 23px;
  line-height: 28px;
  color: #FFFFFF;
}
.container-ten-map .container-map-contacts .container-map-contacts-box3 .tel-contacts p {
  font-family: Gilroy;
  font-size: 13px;
  line-height: 15px;
  text-align: right;
  color: #CFCFCF;
}
.container-ten-map .container-map-contacts .container-map-contacts-box4 {
  display: flex;
  padding-left: 152px;
}
.container-ten-map .container-map-contacts .container-map-contacts-box4 p {
  font-family: Gilroy;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  padding-right: 26px;
  padding-top: 30px;
  padding-bottom: 24px;
}
.container-ten-map .container-map-contacts .container-map-contacts-box4 .container-map-contacts-box4-img img {
  padding-right: 11px;
  padding-top: 30px;
}
/* 6 контейнер конец*/
/*footer*/
footer {
  display: flex;
  padding-top: 26px;
  background: linear-gradient(270.7deg, #44403f 0.4%, #211f20 100%);
  padding-bottom: 20px;
}
footer .footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  background: #FFFFFF;
  border-radius: 50%;
  margin-left: 40px;
  margin-right: 55px;
}
footer .footer-terms {
  padding-right: 86px;
  display: flex;
  flex-direction: column;
}
footer .footer-terms h3 {
  font-family: Gilroy;
  font-weight: bold;
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 0.15em;
  color: #FFFFFF;
  padding-bottom: 15px;
}
footer .footer-terms h4 {
  font-family: Gilroy;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #CFCFCF;
  padding-bottom: 7px;
}
footer .footer-terms a {
  font-family: Gilroy;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  padding-bottom: 10px;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}
footer .footer-menu {
  width: 621px;
  font-family: Gilroy;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  padding-top: 66px;
}
footer .footer-menu a{
  color: #FFFFFF;
  text-decoration: none;
}
footer .footer-menu ul {
  display: flex;
  justify-content: space-between;
}
/*footer конец*/
  













































































  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box1 .container-third-scrollbox2-roll-price1 p,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2 .container-third-scrollbox2-roll-price1 p,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2-changer .container-third-scrollbox2-roll-price1 p,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box3 .container-third-scrollbox2-roll-price1 p,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box4 .container-third-scrollbox2-roll-price1 p {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #6FA076;
  }
  /*.container-third-scrollbox2-roll .container-third-scrollbox2-roll-box1 .container-third-scrollbox2-roll-price1 .container-third-scrollbox2-roll-price-basket,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2 .container-third-scrollbox2-roll-price1 .container-third-scrollbox2-roll-price-basket,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2-changer .container-third-scrollbox2-roll-price1 .container-third-scrollbox2-roll-price-basket,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box3 .container-third-scrollbox2-roll-price1 .container-third-scrollbox2-roll-price-basket,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box4 .container-third-scrollbox2-roll-price1 .container-third-scrollbox2-roll-price-basket {
    display: flex;
    background: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
    border-radius: 10px;
  }
  
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box1 .container-third-scrollbox2-roll-price2,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2 .container-third-scrollbox2-roll-price2,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2-changer .container-third-scrollbox2-roll-price2,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box3 .container-third-scrollbox2-roll-price2,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box4 .container-third-scrollbox2-roll-price2,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box1 .container-third-scrollbox2-roll-price2-1,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2 .container-third-scrollbox2-roll-price2-1,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2-changer .container-third-scrollbox2-roll-price2-1,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box3 .container-third-scrollbox2-roll-price2-1,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box4 .container-third-scrollbox2-roll-price2-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 16px;
    padding-top: 15px;
  }
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box1 .container-third-scrollbox2-roll-price2 h4,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2 .container-third-scrollbox2-roll-price2 h4,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2-changer .container-third-scrollbox2-roll-price2 h4,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box3 .container-third-scrollbox2-roll-price2 h4,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box4 .container-third-scrollbox2-roll-price2 h4,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box1 .container-third-scrollbox2-roll-price2-1 h4,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2 .container-third-scrollbox2-roll-price2-1 h4,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2-changer .container-third-scrollbox2-roll-price2-1 h4,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box3 .container-third-scrollbox2-roll-price2-1 h4,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box4 .container-third-scrollbox2-roll-price2-1 h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box1 .container-third-scrollbox2-roll-price2 .container-third-scrollbox2-roll-price-basket-minus,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2 .container-third-scrollbox2-roll-price2 .container-third-scrollbox2-roll-price-basket-minus,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2-changer .container-third-scrollbox2-roll-price2 .container-third-scrollbox2-roll-price-basket-minus,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box3 .container-third-scrollbox2-roll-price2 .container-third-scrollbox2-roll-price-basket-minus,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box4 .container-third-scrollbox2-roll-price2 .container-third-scrollbox2-roll-price-basket-minus,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box1 .container-third-scrollbox2-roll-price2-1 .container-third-scrollbox2-roll-price-basket-minus,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2 .container-third-scrollbox2-roll-price2-1 .container-third-scrollbox2-roll-price-basket-minus,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2-changer .container-third-scrollbox2-roll-price2-1 .container-third-scrollbox2-roll-price-basket-minus,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box3 .container-third-scrollbox2-roll-price2-1 .container-third-scrollbox2-roll-price-basket-minus,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box4 .container-third-scrollbox2-roll-price2-1 .container-third-scrollbox2-roll-price-basket-minus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 44px;
    background: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
    border-radius: 10px;
  }
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box1 .container-third-scrollbox2-roll-price2 .container-third-scrollbox2-roll-price-basket-minus img,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2 .container-third-scrollbox2-roll-price2 .container-third-scrollbox2-roll-price-basket-minus img,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2-changer .container-third-scrollbox2-roll-price2 .container-third-scrollbox2-roll-price-basket-minus img,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box3 .container-third-scrollbox2-roll-price2 .container-third-scrollbox2-roll-price-basket-minus img,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box4 .container-third-scrollbox2-roll-price2 .container-third-scrollbox2-roll-price-basket-minus img,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box1 .container-third-scrollbox2-roll-price2-1 .container-third-scrollbox2-roll-price-basket-minus img,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2 .container-third-scrollbox2-roll-price2-1 .container-third-scrollbox2-roll-price-basket-minus img,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2-changer .container-third-scrollbox2-roll-price2-1 .container-third-scrollbox2-roll-price-basket-minus img,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box3 .container-third-scrollbox2-roll-price2-1 .container-third-scrollbox2-roll-price-basket-minus img,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box4 .container-third-scrollbox2-roll-price2-1 .container-third-scrollbox2-roll-price-basket-minus img {
    padding: 0;
  }
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box1 .container-third-scrollbox2-roll-price2 .container-third-scrollbox2-roll-price-basket-plus,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2 .container-third-scrollbox2-roll-price2 .container-third-scrollbox2-roll-price-basket-plus,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2-changer .container-third-scrollbox2-roll-price2 .container-third-scrollbox2-roll-price-basket-plus,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box3 .container-third-scrollbox2-roll-price2 .container-third-scrollbox2-roll-price-basket-plus,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box4 .container-third-scrollbox2-roll-price2 .container-third-scrollbox2-roll-price-basket-plus,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box1 .container-third-scrollbox2-roll-price2-1 .container-third-scrollbox2-roll-price-basket-plus,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2 .container-third-scrollbox2-roll-price2-1 .container-third-scrollbox2-roll-price-basket-plus,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2-changer .container-third-scrollbox2-roll-price2-1 .container-third-scrollbox2-roll-price-basket-plus,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box3 .container-third-scrollbox2-roll-price2-1 .container-third-scrollbox2-roll-price-basket-plus,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box4 .container-third-scrollbox2-roll-price2-1 .container-third-scrollbox2-roll-price-basket-plus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 44px;
    background: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
    box-shadow: 0px 5px 10px rgba(114, 163, 121, 0.7);
    border-radius: 10px;
  }
  .container-thirdfifth-scrollbox2-roll .container-third-scrollbox2-roll-box1 .container-third-scrollbox2-roll-price2 .container-third-scrollbox2-roll-price-basket-plus img,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2 .container-third-scrollbox2-roll-price2 .container-third-scrollbox2-roll-price-basket-plus img,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2-changer .container-third-scrollbox2-roll-price2 .container-third-scrollbox2-roll-price-basket-plus img,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box3 .container-third-scrollbox2-roll-price2 .container-third-scrollbox2-roll-price-basket-plus img,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box4 .container-third-scrollbox2-roll-price2 .container-third-scrollbox2-roll-price-basket-plus img,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box1 .container-third-scrollbox2-roll-price2-1 .container-third-scrollbox2-roll-price-basket-plus img,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2 .container-third-scrollbox2-roll-price2-1 .container-third-scrollbox2-roll-price-basket-plus img,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2-changer .container-third-scrollbox2-roll-price2-1 .container-third-scrollbox2-roll-price-basket-plus img,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box3 .container-third-scrollbox2-roll-price2-1 .container-third-scrollbox2-roll-price-basket-plus img,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box4 .container-third-scrollbox2-roll-price2-1 .container-third-scrollbox2-roll-price-basket-plus img {
    padding: 0;
  }
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box1 .container-third-scrollbox2-roll-price2-1,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2 .container-third-scrollbox2-roll-price2-1,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2-changer .container-third-scrollbox2-roll-price2-1,
  .container-third-scrollbox2-roll .container-thirdfifth-scrollbox2-roll-box3 .container-third-scrollbox2-roll-price2-1,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box4 .container-third-scrollbox2-roll-price2-1 {
    padding-top: 32px;
  }
  .container-thirdfifth-scrollbox2-roll .container-third-scrollbox2-roll-box1 .container-third-scrollbox2-roll-price3,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2 .container-third-scrollbox2-roll-price3,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2-changer .container-third-scrollbox2-roll-price3,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box3 .container-third-scrollbox2-roll-price3,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box4 .container-third-scrollbox2-roll-price3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 16px;
    padding-top: 32px;
  }
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box1 .container-third-scrollbox2-roll-price3 h4,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2 .container-third-scrollbox2-roll-price3 h4,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2-changer .container-third-scrollbox2-roll-price3 h4,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box3 .container-third-scrollbox2-roll-price3 h4,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box4 .container-third-scrollbox2-roll-price3 h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box1 .container-third-scrollbox2-roll-price3 .container-third-scrollbox2-roll-price-basket,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2 .container-third-scrollbox2-roll-price3 .container-third-scrollbox2-roll-price-basket,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2-changer .container-third-scrollbox2-roll-price3 .container-third-scrollbox2-roll-price-basket,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box3 .container-third-scrollbox2-roll-price3 .container-third-scrollbox2-roll-price-basket,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box4 .container-third-scrollbox2-roll-price3 .container-third-scrollbox2-roll-price-basket {
    display: flex;
    background: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
    border-radius: 10px;
  }
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box1 .container-third-scrollbox2-roll-price3 p,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2 .container-third-scrollbox2-roll-price3 p,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2-changer .container-third-scrollbox2-roll-price3 p,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box3 .container-third-scrollbox2-roll-price3 p,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box4 .container-third-scrollbox2-roll-price3 p {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding: 13px 12px 14px 19px;
  }
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box1 .container-third-scrollbox2-roll-price3 img,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2 .container-third-scrollbox2-roll-price3 img,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box2-changer .container-third-scrollbox2-roll-price3 img,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box3 .container-third-scrollbox2-roll-price3 img,
  .container-third-scrollbox2-roll .container-third-scrollbox2-roll-box4 .container-third-scrollbox2-roll-price3 img {
    padding: 10px 10px 10px 0px;
  }