/* Стандартные настройки- Стандартные настройки-Стандартные настройки */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Конец стандартных настроек-Конец стандартных настроек-Конец стандартных настроек- */
body {
  font-family: 'Gilroy';
}
.center-roll {
  max-width: 1364px;
  width: 100%;
  margin: 0 auto;
}
.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(360deg, #211f20 0%, #44403f 100%);
}
.center-header {
  max-width: 1272px;
  width: 100%;
  margin: 0 auto;
}
body {
  font-family: 'Gilroy';
}
.container-first {
  background: #403C3B;
}
h1 {
  color: red;
}
/* Header*/
header {
  height: 99px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .delivery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 30px;
}
header .delivery form {
  position: relative;
}
header .delivery form input {
  width: 547px;
  height: 52px;
  background: #504B4A;
  border-radius: 10px;
  font-family: "Gilroy";
  font-size: 18px;
  line-height: 21px;
  color: #CFCFCF;
  outline: none;
  margin-right: 30px;
}
header .delivery form input::placeholder {
  color: #cfcfcf;
  padding-left: 42px;
}
header .delivery .img1 {
  position: absolute;
  left: 14px;
  top: 14px;
}
header .delivery .img2 {
  position: absolute;
  right: 47px;
  top: 14px;
}
header .contact {
  display: flex;
}
header .contact .contact-box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
  border-radius: 50%;
  margin-right: 10.85px;
}
header .contact .contact-box2 {
  width: 128.91px;
}
header .contact .contact-box2 p {
  color: #5DAFCD;
}
header .basket {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 149px;
  height: 52px;
  background: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
  border-radius: 10px;
}
header .basket p {
  font-family: Gilroy;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
header .basket p a{
  color: #FFFFFF;
  text-decoration: none;
}
header .basket p::after {
  content: '';
  display: inline-block;
  height: 38px;
  width: 1px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  vertical-align: middle;
  margin-left: 20px;
  margin-right: 12px;
}
header .basket .basket-circle {
  width: 24px;
  height: 24px;
  background-color: #FFFFFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .basket .basket-circle h5 {
  color: #403C3B;
}
/* Header конец */
/*1 контейнер*/
.container-first {
  width: 100%;
  margin: 0 auto;
}
.container-first .container-first-scrollbox1 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.container-first .container-first-scrollbox1 .container-first-scrollbox1-inner {
  height: 78px;
  max-width: 1272px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  font-family: Gilroy;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}
.container-first .container-first-scrollbox1 .container-first-scrollbox1-inner div {
  width: auto;
}
.container-first .container-first-scrollbox1 .container-first-scrollbox1-inner .first-li {
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-first .container-first-scrollbox1 .container-first-scrollbox1-inner a{
  text-decoration: none;
  color: #FFFFFF;
}
/*1 контейнер конец*/
/*2 контейнер*/
.container-second {
  margin-top: 51px;
  display: flex;
  margin-bottom: 42px;
}
.container-second h2 {
  font-family: Gilroy;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.container-second h2::before {
  content: '';
  display: inline-block;
  height: 33px;
  width: 4px;
  background-color: #618967;
  vertical-align: middle;
  margin-right: 19px;
  margin-left: 83px;
}
/*2 контейнер конец*/
/*3 контейнер*/
.interview-info {
  height: 480px;
  margin-left: 93px;
  display: flex;
  flex-direction: column;   
}
.interview-info select.scroll {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 35px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 618px;
  height: 68px;
  background: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
  border-radius: 10px;
}
.interview-info form div{
  margin-top: 9px;
}
.interview .interview-content{
  display: grid;
  grid-template-columns: 50% 50%;
}
.container-ten-map {
  width: 640px;
  height: 450px;
  filter: drop-shadow(0px 40px 40px rgba(43, 40, 40, 0.6));
  position: relative;
  margin-top: 10px;
  margin-right:68px;
}
.container-ten-map #map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
/*3 контейнер конец*/
/*4 контейнер*/
.graph{
  width: 100%;
  margin: 0 auto;
}
.graph-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 93px;
  margin-bottom: 40px;
  width:620px;
}
.graph-info p.main {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 35px;
  color: #FFFFFF;
}
.graph-info p.time {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
  color: #FFFFFF;
}
/*4 контейнер конец*/
/*5 контейнер*/
.order {
  width: 100%;
  margin: 0 auto;
}
.order-min{
  margin-left: 93px;   
  width: 697px;
  margin-bottom: 37px;
}
.order-min h3{
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 35px;
  color: #FFFFFF;
}
.order-min p{
 font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 35px; 
  color: #CFCFCF;
  }
/*5 контейнер конец*/
/*footer*/
footer {
  display: flex;
  padding-top: 26px;
  background: linear-gradient(270.7deg, #44403f 0.4%, #211f20 100%);
  padding-bottom: 20px;
}
footer .footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  background: #FFFFFF;
  border-radius: 50%;
  margin-left: 40px;
  margin-right: 55px;
}
footer .footer-terms {
  padding-right: 86px;
  display: flex;
  flex-direction: column;
}
footer .footer-terms h3 {
  font-family: Gilroy;
  font-weight: bold;
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 0.15em;
  color: #FFFFFF;
  padding-bottom: 15px;
}
footer .footer-terms h4 {
  font-family: Gilroy;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #CFCFCF;
  padding-bottom: 7px;
}
footer .footer-terms a {
  font-family: Gilroy;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  padding-bottom: 10px;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}
footer .footer-menu {
  width: 621px;
  font-family: Gilroy;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  padding-top: 66px;
}
footer .footer-menu a{
  color: #FFFFFF;
  text-decoration: none;
}
footer .footer-menu ul {
  display: flex;
  justify-content: space-between;
}
/*footer конец*/