/* Стандартные настройки- Стандартные настройки-Стандартные настройки */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Конец стандартных настроек-Конец стандартных настроек-Конец стандартных настроек*/
body {
  font-family: 'Gilroy';
}
.center-roll {
  max-width: 1364px;
  width: 100%;
  margin: 0 auto;
}
.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(360deg, #211f20 0%, #44403f 100%);
}
.center-header {
  max-width: 1272px;
  width: 100%;
  margin: 0 auto;
}
body {
  font-family: 'Gilroy';
}
.container-first {
  background: #403C3B;
}
h1 {
  color: red;
}
/* Header*/
header {
  height: 99px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .delivery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 30px;
}
header .delivery form {
  position: relative;
}
header .delivery form input {
  width: 547px;
  height: 52px;
  background: #504B4A;
  border-radius: 10px;
  font-family: "Gilroy";
  font-size: 18px;
  line-height: 21px;
  color: #CFCFCF;
  outline: none;
  margin-right: 30px;
}
header .delivery form input::placeholder {
  color: #cfcfcf;
  padding-left: 42px;
}
header .delivery .img1 {
  position: absolute;
  left: 14px;
  top: 14px;
}
header .delivery .img2 {
  position: absolute;
  right: 47px;
  top: 14px;
}
header .contact {
  display: flex;
}
header .contact .contact-box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
  border-radius: 50%;
  margin-right: 10.85px;
}
header .contact .contact-box2 {
  width: 128.91px;
}
header .contact .contact-box2 p {
  color: #5DAFCD;
}
header .basket {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 149px;
  height: 52px;
  background: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
  border-radius: 10px;
}
header .basket p {
  font-family: Gilroy;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}
header .basket p a{
  color: #FFFFFF;
  text-decoration: none;
}
header .basket p::after {
  content: '';
  display: inline-block;
  height: 38px;
  width: 1px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  vertical-align: middle;
  margin-left: 20px;
  margin-right: 12px;
}
header .basket .basket-circle {
  width: 24px;
  height: 24px;
  background-color: #FFFFFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .basket .basket-circle h5 {
  color: #403C3B;
}
/* Header стили конец*/
/* 1 контейнер*/
.container-first .main-content {
  width: 100%;
  height: 484px;
  background-image: url("../img/background-main-content.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 32%;
  position: relative;
}
.container-first .main-content .container-first-blur1 {
  width: 829px;
  height: 484px;
  background: linear-gradient(90deg, #211f20 0%, rgba(68, 64, 63, 0) 100%);
  position: absolute;
}
.container-first .main-content .container-first-blur2 {
  width: 1102px;
  height: 484px;
  background: linear-gradient(90deg, #211f20 0%, rgba(68, 64, 63, 0) 100%);
  position: absolute;
}
.container-first .main-content .container-first-blur3 {
  width: 757px;
  height: 484px;
  background: linear-gradient(90deg, #211f20 0%, rgba(68, 64, 63, 0) 100%);
  position: absolute;
  left: 345px;
}
.container-first .main-content .main-content-center-text {
  position: absolute;
  width: 627px;
  height: 286px;
  border: 2px solid white;
  z-index: 3;
  left: 95px;
  top: 74px;
}
.container-first .main-content .main-content-center-text .image-main-content .image-main-content-img1 {
  position: absolute;
}
.container-first .main-content .main-content-center-text .image-main-content .image-main-content-img2 {
  position: absolute;
  right: 6px;
}
.container-first .main-content .main-content-center-text .image-main-content-2 p {
  position: absolute;
  font-family: Zing Rust Demo;
  font-style: italic;
  font-weight: normal;
  font-size: 25px;
  line-height: 109.2%;
  text-align: center;
  color: #FFFFFF;
  transform: rotate(-8.37deg);
  left: 320px;
  top: 287px;
  z-index: 5;
}
.container-first .main-content .main-content-center-text .image-main-content-2 img {
  position: absolute;
  left: 292px;
  top: 280px;
}
/*  1 контейнер конец  */
/* 1 контейнер */
.container-second {
  width: 100%;
  margin: 0 auto;
}
.container-second .container-second-scrollbox1 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.container-second .container-second-scrollbox1 .container-second-scrollbox1-inner {
  height: 78px;
  max-width: 1272px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  font-family: Gilroy;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}
.container-second .container-second-scrollbox1 .container-second-scrollbox1-inner div {
  width: auto;
}
.container-second .container-second-scrollbox1 .container-second-scrollbox1-inner .first-li {
  border-bottom: 3px solid #618967;
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-second .container-second-scrollbox1 .container-second-scrollbox1-inner a{
  text-decoration: none;
  color: #FFFFFF;
}
/*  2 контейнер конец  */
/* 3 контейнер ,  5 контейнер, 7 контейнер  */
.container-third {
  margin-top: 51px;
  display: flex;
  margin-bottom: 50px;
}
.container-third h2 {
  font-family: Gilroy;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.container-third h2::before {
  content: '';
  display: inline-block;
  height: 33px;
  width: 4px;
  background-color: #618967;
  vertical-align: middle;
  margin-right: 19px;
  margin-left: 83px;
}
/*  3 контейнер конец, 5 контейнер конец, 7 контейнер конец */
/* 4 контейнер, 6 контейнер, 8 контейнер */
.mixin-roll-text1-h3 {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
  padding-left: 20px;
}
.mixinroll-text1-p {
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  padding-right: 16px;
}
.mixin-decr {
  font-size: 13px;
  line-height: 131%;
  color: #CFCFCF;
  padding-left: 20px;
  padding-top: 5px;
}
.mixin-roll-price-h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  padding-top: 10px;
  padding-bottom: 10px;
}
.mixin-roll-price-basket-p {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding: 13px 12px 14px 19px;
}
.container-fourth-scrollbox2-roll {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  grid-template-rows: 385px;
  column-gap: 1%;
  position: relative;
}
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box1,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2-changer,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box3,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box4 {
  background: linear-gradient(90deg, #494544 0%, #504b4a 100%);
  border-radius: 10px;
}
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box1 .container-fourth-scrollbox2-roll-box2-change,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2 .container-fourth-scrollbox2-roll-box2-change,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2-changer .container-fourth-scrollbox2-roll-box2-change,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box3 .container-fourth-scrollbox2-roll-box2-change,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box4 .container-fourth-scrollbox2-roll-box2-change {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #79B382;
  position: absolute;
  left: 290px;
}
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box1 .container-fourth-scrollbox2-roll-box2-change p,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2 .container-fourth-scrollbox2-roll-box2-change p,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2-changer .container-fourth-scrollbox2-roll-box2-change p,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box3 .container-fourth-scrollbox2-roll-box2-change p,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box4 .container-fourth-scrollbox2-roll-box2-change p {
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box1 .container-fourth-scrollbox2-roll-box2-change2,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2 .container-fourth-scrollbox2-roll-box2-change2,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2-changer .container-fourth-scrollbox2-roll-box2-change2,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box3 .container-fourth-scrollbox2-roll-box2-change2,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box4 .container-fourth-scrollbox2-roll-box2-change2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #79B382;
  position: absolute;
  left: 290px;
}
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box1 .container-fourth-scrollbox2-roll-box2-change2 p,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2 .container-fourth-scrollbox2-roll-box2-change2 p,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2-changer .container-fourth-scrollbox2-roll-box2-change2 p,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box3 .container-fourth-scrollbox2-roll-box2-change2 p,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box4 .container-fourth-scrollbox2-roll-box2-change2 p {
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box1 .container-fourth-scrollbox2-roll-picture1,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2 .container-fourth-scrollbox2-roll-picture1,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2-changer .container-fourth-scrollbox2-roll-picture1,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box3 .container-fourth-scrollbox2-roll-picture1,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box4 .container-fourth-scrollbox2-roll-picture1 {
  width: 325px;
  height: 227px;
}
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box1 .container-fourth-scrollbox2-roll-picture1 img,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2 .container-fourth-scrollbox2-roll-picture1 img,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2-changer .container-fourth-scrollbox2-roll-picture1 img,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box3 .container-fourth-scrollbox2-roll-picture1 img,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box4 .container-fourth-scrollbox2-roll-picture1 img {
  width: 100%;
  max-width: 100%;
  max-height: 310px;
  height: 100%;
  object-fit: cover;
  object-position: center -34px;
  border-radius: 10px;
}
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box1 .container-fourth-scrollbox2-roll-picture2,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2 .container-fourth-scrollbox2-roll-picture2,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2-changer .container-fourth-scrollbox2-roll-picture2,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box3 .container-fourth-scrollbox2-roll-picture2,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box4 .container-fourth-scrollbox2-roll-picture2 {
  width: 325px;
  height: 227px;
}
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box1 .container-fourth-scrollbox2-roll-picture2 img,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2 .container-fourth-scrollbox2-roll-picture2 img,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2-changer .container-fourth-scrollbox2-roll-picture2 img,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box3 .container-fourth-scrollbox2-roll-picture2 img,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box4 .container-fourth-scrollbox2-roll-picture2 img {
  width: 100%;
  max-width: 100%;
  max-height: 310px;
  height: 100%;
  object-fit: cover;
  object-position: center 0px;
  border-radius: 10px;
}
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box1 .container-fourth-scrollbox2-roll-picture3,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2 .container-fourth-scrollbox2-roll-picture3,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2-changer .container-fourth-scrollbox2-roll-picture3,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box3 .container-fourth-scrollbox2-roll-picture3,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box4 .container-fourth-scrollbox2-roll-picture3 {
  width: 325px;
  height: 227px;
}
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box1 .container-fourth-scrollbox2-roll-picture3 img,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2 .container-fourth-scrollbox2-roll-picture3 img,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2-changer .container-fourth-scrollbox2-roll-picture3 img,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box3 .container-fourth-scrollbox2-roll-picture3 img,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box4 .container-fourth-scrollbox2-roll-picture3 img {
  width: 100%;
  max-width: 100%;
  max-height: 310px;
  height: 100%;
  object-fit: cover;
  object-position: center 1px;
  border-radius: 10px;
}
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box1 .container-fourth-scrollbox2-roll-picture4,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2 .container-fourth-scrollbox2-roll-picture4,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2-changer .container-fourth-scrollbox2-roll-picture4,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box3 .container-fourth-scrollbox2-roll-picture4,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box4 .container-fourth-scrollbox2-roll-picture4 {
  width: 325px;
  height: 227px;
}
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box1 .container-fourth-scrollbox2-roll-picture4 img,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2 .container-fourth-scrollbox2-roll-picture4 img,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2-changer .container-fourth-scrollbox2-roll-picture4 img,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box3 .container-fourth-scrollbox2-roll-picture4 img,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box4 .container-fourth-scrollbox2-roll-picture4 img {
  width: 100%;
  max-width: 100%;
  max-height: 310px;
  height: 100%;
  object-fit: cover;
  object-position: center -5px;
  border-radius: 10px;
}
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box1 .container-fourth-scrollbox2-roll-text1,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2 .container-fourth-scrollbox2-roll-text1,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2-changer .container-fourth-scrollbox2-roll-text1,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box3 .container-fourth-scrollbox2-roll-text1,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box4 .container-fourth-scrollbox2-roll-text1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box1 .container-fourth-scrollbox2-roll-text1 h3,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2 .container-fourth-scrollbox2-roll-text1 h3,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2-changer .container-fourth-scrollbox2-roll-text1 h3,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box3 .container-fourth-scrollbox2-roll-text1 h3,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box4 .container-fourth-scrollbox2-roll-text1 h3 {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
  padding-left: 20px;
}
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box1 .container-fourth-scrollbox2-roll-text1 p,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2 .container-fourth-scrollbox2-roll-text1 p,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2-changer .container-fourth-scrollbox2-roll-text1 p,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box3 .container-fourth-scrollbox2-roll-text1 p,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box4 .container-fourth-scrollbox2-roll-text1 p {
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  padding-right: 16px;
}
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box1 .container-fourth-scrollbox2-roll-description,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2 .container-fourth-scrollbox2-roll-description,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2-changer .container-fourth-scrollbox2-roll-description,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box3 .container-fourth-scrollbox2-roll-description,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box4 .container-fourth-scrollbox2-roll-description {
  font-size: 13px;
  line-height: 131%;
  color: #CFCFCF;
  padding-left: 20px;
  padding-top: 5px;
}
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box1 .container-fourth-scrollbox2-roll-price1,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2 .container-fourth-scrollbox2-roll-price1,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2-changer .container-fourth-scrollbox2-roll-price1,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box3 .container-fourth-scrollbox2-roll-price1,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box4 .container-fourth-scrollbox2-roll-price1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 16px;
  padding-top: 15px;
}
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box1 .container-fourth-scrollbox2-roll-price1 h4,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2 .container-fourth-scrollbox2-roll-price1 h4,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2-changer .container-fourth-scrollbox2-roll-price1 h4,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box3 .container-fourth-scrollbox2-roll-price1 h4,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box4 .container-fourth-scrollbox2-roll-price1 h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  padding-top: 10px;
  padding-bottom: 10px;
}
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box1 .container-fourth-scrollbox2-roll-price1 .container-fourth-scrollbox2-roll-price-basket,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2 .container-fourth-scrollbox2-roll-price1 .container-fourth-scrollbox2-roll-price-basket,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2-changer .container-fourth-scrollbox2-roll-price1 .container-fourth-scrollbox2-roll-price-basket,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box3 .container-fourth-scrollbox2-roll-price1 .container-fourth-scrollbox2-roll-price-basket,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box4 .container-fourth-scrollbox2-roll-price1 .container-fourth-scrollbox2-roll-price-basket {
  display: flex;
  background: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
  border-radius: 10px;
}
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box1 .container-fourth-scrollbox2-roll-price1 p,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2 .container-fourth-scrollbox2-roll-price1 p,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2-changer .container-fourth-scrollbox2-roll-price1 p,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box3 .container-fourth-scrollbox2-roll-price1 p,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box4 .container-fourth-scrollbox2-roll-price1 p {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding: 13px 12px 14px 19px;
}
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box1 .container-fourth-scrollbox2-roll-price1 img,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2 .container-fourth-scrollbox2-roll-price1 img,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2-changer .container-fourth-scrollbox2-roll-price1 img,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box3 .container-fourth-scrollbox2-roll-price1 img,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box4 .container-fourth-scrollbox2-roll-price1 img {
  padding: 10px 10px 10px 0px;
}
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box1 .container-fourth-scrollbox2-roll-price2,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2 .container-fourth-scrollbox2-roll-price2,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2-changer .container-fourth-scrollbox2-roll-price2,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box3 .container-fourth-scrollbox2-roll-price2,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box4 .container-fourth-scrollbox2-roll-price2,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box1 .container-fourth-scrollbox2-roll-price2-1,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2 .container-fourth-scrollbox2-roll-price2-1,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2-changer .container-fourth-scrollbox2-roll-price2-1,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box3 .container-fourth-scrollbox2-roll-price2-1,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box4 .container-fourth-scrollbox2-roll-price2-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 16px;
  padding-top: 15px;
}
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box1 .container-fourth-scrollbox2-roll-price2 h4,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2 .container-fourth-scrollbox2-roll-price2 h4,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2-changer .container-fourth-scrollbox2-roll-price2 h4,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box3 .container-fourth-scrollbox2-roll-price2 h4,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box4 .container-fourth-scrollbox2-roll-price2 h4,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box1 .container-fourth-scrollbox2-roll-price2-1 h4,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2 .container-fourth-scrollbox2-roll-price2-1 h4,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2-changer .container-fourth-scrollbox2-roll-price2-1 h4,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box3 .container-fourth-scrollbox2-roll-price2-1 h4,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box4 .container-fourth-scrollbox2-roll-price2-1 h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  padding-top: 10px;
  padding-bottom: 10px;
}
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box1 .container-fourth-scrollbox2-roll-price2 .container-fourth-scrollbox2-roll-price-basket-minus,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2 .container-fourth-scrollbox2-roll-price2 .container-fourth-scrollbox2-roll-price-basket-minus,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2-changer .container-fourth-scrollbox2-roll-price2 .container-fourth-scrollbox2-roll-price-basket-minus,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box3 .container-fourth-scrollbox2-roll-price2 .container-fourth-scrollbox2-roll-price-basket-minus,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box4 .container-fourth-scrollbox2-roll-price2 .container-fourth-scrollbox2-roll-price-basket-minus,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box1 .container-fourth-scrollbox2-roll-price2-1 .container-fourth-scrollbox2-roll-price-basket-minus,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2 .container-fourth-scrollbox2-roll-price2-1 .container-fourth-scrollbox2-roll-price-basket-minus,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2-changer .container-fourth-scrollbox2-roll-price2-1 .container-fourth-scrollbox2-roll-price-basket-minus,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box3 .container-fourth-scrollbox2-roll-price2-1 .container-fourth-scrollbox2-roll-price-basket-minus,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box4 .container-fourth-scrollbox2-roll-price2-1 .container-fourth-scrollbox2-roll-price-basket-minus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 44px;
  background: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
  border-radius: 10px;
}
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box1 .container-fourth-scrollbox2-roll-price2 .container-fourth-scrollbox2-roll-price-basket-minus img,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2 .container-fourth-scrollbox2-roll-price2 .container-fourth-scrollbox2-roll-price-basket-minus img,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2-changer .container-fourth-scrollbox2-roll-price2 .container-fourth-scrollbox2-roll-price-basket-minus img,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box3 .container-fourth-scrollbox2-roll-price2 .container-fourth-scrollbox2-roll-price-basket-minus img,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box4 .container-fourth-scrollbox2-roll-price2 .container-fourth-scrollbox2-roll-price-basket-minus img,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box1 .container-fourth-scrollbox2-roll-price2-1 .container-fourth-scrollbox2-roll-price-basket-minus img,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2 .container-fourth-scrollbox2-roll-price2-1 .container-fourth-scrollbox2-roll-price-basket-minus img,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2-changer .container-fourth-scrollbox2-roll-price2-1 .container-fourth-scrollbox2-roll-price-basket-minus img,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box3 .container-fourth-scrollbox2-roll-price2-1 .container-fourth-scrollbox2-roll-price-basket-minus img,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box4 .container-fourth-scrollbox2-roll-price2-1 .container-fourth-scrollbox2-roll-price-basket-minus img {
  padding: 0;
}
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box1 .container-fourth-scrollbox2-roll-price2 .container-fourth-scrollbox2-roll-price-basket-plus,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2 .container-fourth-scrollbox2-roll-price2 .container-fourth-scrollbox2-roll-price-basket-plus,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2-changer .container-fourth-scrollbox2-roll-price2 .container-fourth-scrollbox2-roll-price-basket-plus,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box3 .container-fourth-scrollbox2-roll-price2 .container-fourth-scrollbox2-roll-price-basket-plus,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box4 .container-fourth-scrollbox2-roll-price2 .container-fourth-scrollbox2-roll-price-basket-plus,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box1 .container-fourth-scrollbox2-roll-price2-1 .container-fourth-scrollbox2-roll-price-basket-plus,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2 .container-fourth-scrollbox2-roll-price2-1 .container-fourth-scrollbox2-roll-price-basket-plus,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2-changer .container-fourth-scrollbox2-roll-price2-1 .container-fourth-scrollbox2-roll-price-basket-plus,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box3 .container-fourth-scrollbox2-roll-price2-1 .container-fourth-scrollbox2-roll-price-basket-plus,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box4 .container-fourth-scrollbox2-roll-price2-1 .container-fourth-scrollbox2-roll-price-basket-plus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 44px;
  background: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
  box-shadow: 0px 5px 10px rgba(114, 163, 121, 0.7);
  border-radius: 10px;
}
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box1 .container-fourth-scrollbox2-roll-price2 .container-fourth-scrollbox2-roll-price-basket-plus img,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2 .container-fourth-scrollbox2-roll-price2 .container-fourth-scrollbox2-roll-price-basket-plus img,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2-changer .container-fourth-scrollbox2-roll-price2 .container-fourth-scrollbox2-roll-price-basket-plus img,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box3 .container-fourth-scrollbox2-roll-price2 .container-fourth-scrollbox2-roll-price-basket-plus img,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box4 .container-fourth-scrollbox2-roll-price2 .container-fourth-scrollbox2-roll-price-basket-plus img,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box1 .container-fourth-scrollbox2-roll-price2-1 .container-fourth-scrollbox2-roll-price-basket-plus img,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2 .container-fourth-scrollbox2-roll-price2-1 .container-fourth-scrollbox2-roll-price-basket-plus img,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2-changer .container-fourth-scrollbox2-roll-price2-1 .container-fourth-scrollbox2-roll-price-basket-plus img,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box3 .container-fourth-scrollbox2-roll-price2-1 .container-fourth-scrollbox2-roll-price-basket-plus img,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box4 .container-fourth-scrollbox2-roll-price2-1 .container-fourth-scrollbox2-roll-price-basket-plus img {
  padding: 0;
}
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box1 .container-fourth-scrollbox2-roll-price2-1,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2 .container-fourth-scrollbox2-roll-price2-1,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2-changer .container-fourth-scrollbox2-roll-price2-1,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box3 .container-fourth-scrollbox2-roll-price2-1,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box4 .container-fourth-scrollbox2-roll-price2-1 {
  padding-top: 32px;
}
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box1 .container-fourth-scrollbox2-roll-price3,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2 .container-fourth-scrollbox2-roll-price3,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2-changer .container-fourth-scrollbox2-roll-price3,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box3 .container-fourth-scrollbox2-roll-price3,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box4 .container-fourth-scrollbox2-roll-price3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 16px;
  padding-top: 32px;
}
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box1 .container-fourth-scrollbox2-roll-price3 h4,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2 .container-fourth-scrollbox2-roll-price3 h4,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2-changer .container-fourth-scrollbox2-roll-price3 h4,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box3 .container-fourth-scrollbox2-roll-price3 h4,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box4 .container-fourth-scrollbox2-roll-price3 h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  padding-top: 10px;
  padding-bottom: 10px;
}
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box1 .container-fourth-scrollbox2-roll-price3 .container-fourth-scrollbox2-roll-price-basket,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2 .container-fourth-scrollbox2-roll-price3 .container-fourth-scrollbox2-roll-price-basket,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2-changer .container-fourth-scrollbox2-roll-price3 .container-fourth-scrollbox2-roll-price-basket,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box3 .container-fourth-scrollbox2-roll-price3 .container-fourth-scrollbox2-roll-price-basket,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box4 .container-fourth-scrollbox2-roll-price3 .container-fourth-scrollbox2-roll-price-basket {
  display: flex;
  background: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
  border-radius: 10px;
}
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box1 .container-fourth-scrollbox2-roll-price3 p,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2 .container-fourth-scrollbox2-roll-price3 p,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2-changer .container-fourth-scrollbox2-roll-price3 p,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box3 .container-fourth-scrollbox2-roll-price3 p,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box4 .container-fourth-scrollbox2-roll-price3 p {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding: 13px 12px 14px 19px;
}
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box1 .container-fourth-scrollbox2-roll-price3 img,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2 .container-fourth-scrollbox2-roll-price3 img,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box2-changer .container-fourth-scrollbox2-roll-price3 img,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box3 .container-fourth-scrollbox2-roll-price3 img,
.container-fourth-scrollbox2-roll .container-fourth-scrollbox2-roll-box4 .container-fourth-scrollbox2-roll-price3 img {
  padding: 10px 10px 10px 0px;
}
/* 4 контейнер конец, 6 контейнер конец, 8 контейнер конец  */
/* 9 контейнер  */
.container-nine {
  width: 100%;
  background-image: url(../img/container-nine-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  height: 100%;
  margin-top: 60px;
  display: grid;
  grid-template-columns: 50% 50%;
  position: relative;
  z-index: 1;
}
.container-nine .container-nine-blur {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #211f20 0%, rgba(68, 64, 63, 0) 100%);
  position: absolute;
  z-index: 2;
}
.container-nine .container-nine-blur2 {
  background: linear-gradient(90deg, #292728 0%, rgba(68, 64, 63, 0) 100%);
  width: 388px;
  height: 610px;
  position: absolute;
  left: 388px;
  z-index: 2;
}
.container-nine .container-nine-left {
  z-index: 3;
}
.container-nine .container-nine-left h2 {
  font-family: Gilroy;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-bottom: 26px;
  padding-top: 100px;
  padding-left: 70px;
}
.container-nine .container-nine-left p {
  font-family: Gilroy;
  font-size: 20px;
  line-height: 125%;
  color: #CFCFCF;
  padding-bottom: 60px;
  padding-left: 70px;
}
.container-nine .container-nine-left .btn-wrap {
  width: 223px;
  height: 59px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 70px;
}
.container-nine .container-nine-left .btn-wrap a {
  font-family: Proxima Nova;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  text-decoration: none;
  margin-left: 25px;
}
.container-nine .container-nine-right {
  display: grid;
  grid-template-columns: 228px 228px;
  grid-template-rows: 227px;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding-top: 71px;
  padding-bottom: 71px;
}
.container-nine .container-nine-right .container-nine-right-box,
.container-nine .container-nine-right .container-nine-right-box2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 228px;
  height: 227px;
  background: rgba(80, 75, 74, 0.9);
  backdrop-filter: blur(4px);
}
.container-nine .container-nine-right .container-nine-right-box img,
.container-nine .container-nine-right .container-nine-right-box2 img {
  padding-bottom: 26px;
}
.container-nine .container-nine-right .container-nine-right-box p,
.container-nine .container-nine-right .container-nine-right-box2 p {
  font-family: Gilroy;
  font-size: 18px;
  line-height: 139%;
  color: #FFFFFF;
}
.container-nine .container-nine-right .container-nine-right-box2 p {
  color: #79B282;
}
/*9 контейнер конец*/
/*10 контейнер*/
.container-ten-map {
  width: 100%;
  height: 665px;
  filter: drop-shadow(0px 40px 40px rgba(43, 40, 40, 0.6));
  position: relative;
}
.container-ten-map #map {
  width: 100%;
  height: 100%;
}
.container-ten-map .container-map-coordinates {
  position: absolute;
  left: 1021px;
  bottom: 183px;
}
.container-ten-map .container-map-contacts {
  display: flex;
  flex-wrap: wrap;
  max-width: 526px;
  height: 405px;
  background: #2E2B2C;
  box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  position: absolute;
  left: 109px;
  bottom: 40px;
}
.container-ten-map .container-map-contacts .container-map-contacts-box0 {
  display: flex;
  flex-direction: column;
}
.container-ten-map .container-map-contacts .container-map-contacts-box0 h1 {
  display: flex;
  font-family: Gilroy;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 25px;
  padding-left: 43px;
  padding-bottom: 26px;
}
.container-ten-map .container-map-contacts .container-map-contacts-box0-border {
  height: 2px;
  width: 100%;
  content: '';
  display: inline-block;
  border: none;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}
.container-ten-map .container-map-contacts .container-map-contacts-box1 {
  display: flex;
  width: 391px;
  align-items: flex-start;
  padding-bottom: 20px;
  padding-top: 12px;
  padding-left: 52px;
}
.container-ten-map .container-map-contacts .container-map-contacts-box1 .container-map-contacts-box1-iner {
  display: flex;
  flex-direction: column;
}
.container-ten-map .container-map-contacts .container-map-contacts-box1 .container-map-contacts-box1-iner p {
  font-family: Gilroy;
  font-size: 12px;
  line-height: 16px;
  color: #CFCFCF;
}
.container-ten-map .container-map-contacts .container-map-contacts-box1 .container-map-contacts-box1-iner h4 {
  font-family: Gilroy;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}
.container-ten-map .container-map-contacts .container-map-contacts-box2 {
  display: flex;
  width: 391px;
  align-items: flex-start;
  padding-top: 12px;
  padding-left: 52px;
}
.container-ten-map .container-map-contacts .container-map-contacts-box2 .container-map-contacts-box2-iner {
  display: flex;
  flex-direction: column;
}
.container-ten-map .container-map-contacts .container-map-contacts-box2 .container-map-contacts-box2-iner p,
.container-ten-map .container-map-contacts .container-map-contacts-box2 .container-map-contacts-box2-iner a {
  font-family: Gilroy;
  font-size: 14px;
  line-height: 16px;
  color: #CFCFCF;
}
.container-ten-map .container-map-contacts .container-map-contacts-box2 .container-map-contacts-box2-iner a {
  text-decoration: none;
  color: #FFFFFF;
  padding-bottom: 28px;
}
.container-ten-map .container-map-contacts .container-map-contacts-box3 {
  display: flex;
  padding-top: 34px;
  padding-left: 52px;
}
.container-ten-map .container-map-contacts .container-map-contacts-box3 .btn-contacts {
  padding-right: 33px;
}
.container-ten-map .container-map-contacts .container-map-contacts-box3 .btn-contacts a {
  font-family: Proxima Nova;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  background: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
  border-radius: 10px;
  padding: 22px 30px;
  text-transform: uppercase; 
  text-decoration: none;
}
.container-ten-map .container-map-contacts .container-map-contacts-box3 .tel-contacts h3 {
  font-family: Gilroy;
  font-weight: bold;
  font-size: 23px;
  line-height: 28px;
  color: #FFFFFF;
}
.container-ten-map .container-map-contacts .container-map-contacts-box3 .tel-contacts p {
  font-family: Gilroy;
  font-size: 13px;
  line-height: 15px;
  text-align: right;
  color: #CFCFCF;
}
.container-ten-map .container-map-contacts .container-map-contacts-box4 {
  display: flex;
  padding-left: 152px;
}
.container-ten-map .container-map-contacts .container-map-contacts-box4 p {
  font-family: Gilroy;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  padding-right: 26px;
  padding-top: 30px;
  padding-bottom: 24px;
}
.container-ten-map .container-map-contacts .container-map-contacts-box4 .container-map-contacts-box4-img img {
  padding-right: 11px;
  padding-top: 30px;
}
/*10 контейнер конец*/
/*footer*/
footer {
  display: flex;
  padding-top: 26px;
  background: linear-gradient(270.7deg, #44403f 0.4%, #211f20 100%);
  padding-bottom: 20px;
}
footer .footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  background: #FFFFFF;
  border-radius: 50%;
  margin-left: 40px;
  margin-right: 55px;
}
footer .footer-terms {
  padding-right: 86px;
  display: flex;
  flex-direction: column;
}
footer .footer-terms h3 {
  font-family: Gilroy;
  font-weight: bold;
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 0.15em;
  color: #FFFFFF;
  padding-bottom: 15px;
}
footer .footer-terms h4 {
  font-family: Gilroy;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #CFCFCF;
  padding-bottom: 7px;
}
footer .footer-terms a {
  font-family: Gilroy;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  padding-bottom: 10px;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}
footer .footer-menu {
  width: 621px;
  font-family: Gilroy;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  padding-top: 66px;
}
footer .footer-menu a{
  color: #FFFFFF;
  text-decoration: none;
}
footer .footer-menu ul {
  display: flex;
  justify-content: space-between;
}
/*footer конец*/
